body {
    font-family :Tahoma;
    background-color: RGB(225, 231, 246);
}
.header {
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  background: rgb(26, 188, 156); /* green background */
  color: white; /* white text color */
}


h1 {
  text-align: center;
  font-family: 'Shrikhand', cursive;
}

h4 {
  text-align: center;
}

.row {
  display: flex;
}

.tile {
  margin: 1%;
}

.tile h1 {
  text-align: left;
}

.info-tile {
  border: 2px solid #000000;
  background-color: rgb(226, 219, 240);
}
.jumbotron {
  background-image: url("greygoundrun.webp");
  bacground-size: cover;
  background-position: center;
  color: white;
}

.jumbotron h1{
  text-align: left;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.button {
  font-family: 'Montserrat', sans-serif;
}
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("aboutusdog.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
