body {
    font-family :Tahoma;
    background-color: RGB(225, 231, 246);
}
.header {
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  background: #1abc9c; /* green background */
  color: white; /* white text color */
}


h1 {
  text-align: center;
  font-family: 'Shrikhand', cursive;
}

h4 {
  text-align: center;
}

.row {
  display: flex;
}

.tile {
  margin: 1%;
}

.tile h1 {
  text-align: left;
}

.info-tile {
  border: 2px solid #000000;
  background-color: #DEDEDE;
}
.jumbotron {
  background-image: url("greygoundrun.webp");
  bacground-size: cover;
  background-position: center;
  color: white;
}

.jumbotron h1{
  text-align: left;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
button {
  font-family: 'Montserrat', sans-serif;
}
